<layout name='layout'/>
<!--<form action="__ACTION__" name="searchForm" method="get">
    <p>
        品牌名称:<input type="text" value="<?php echo I('get.bn');?>" name="bn" />
    </p>
    <p>
        排序方式：
        <?php $odby = I('get.odby', id_desc);?>
        <input onclick="this.parentNode.parentNode.submit()" type="radio" value="id_desc" name="odby" <?php if($odby == 'id_desc') echo 'checked="checked"';?>/>以添加时间降序
        <input onclick="this.parentNode.parentNode.submit()" type="radio" value="id_asc" name="odby" <?php if($odby == 'id_asc') echo 'checked="checked"';?>/>以添加时间升序
    </p>
        <input type="submit" value=" 搜索 " class="button" />
</form>-->
</div>

<!-- 商品列表 -->
<form method="post" action="" name="listForm" onsubmit="">
    <div class="list-div" id="listDiv">
        <table cellpadding="3" cellspacing="1">
            <tr>
                <th>编号</th>
                <th>管理员名称</th>
                <th>密码</th>
                <th>权限</th>
                <th>操作</th>
            </tr>
            <?php foreach($aData as $k => $v):  ?>
            <tr class="tron">
                <td align="center"><?php echo $v['id'];?></td>
                <td align="center" class="first-cell"><span><?php echo $v['user_name'];?></span></td> 
                <td align="center"><?php echo $v['password'];?></td>
                <td align="center"><?php echo $v['role_name'];?></td>
                <td align="center">
                <a href="__APP__/Goods/?goods_id=<{$val.goods_id}>" target="_blank" title="查看"><img src="./Images/icon_view.gif" width="16" height="16" border="0" /></a>
                <a href="<?php echo U('edit?id='.$v['id']);?>" title="编辑">编辑</a>
                <a href="<?php echo U('del?id='.$v['id']);?>" onclick="" title="回收站">删除</a></td>
            </tr>
            <?php endforeach;?>
        </table>

    <!-- 分页开始 -->
        <table id="page-table" cellspacing="0">
            <tr>
                <td width="80%">&nbsp;</td>
                <td align="center" nowrap="true">
                    <?php echo $show;?>
                </td>
            </tr>
        </table>
    <!-- 分页结束 -->
    </div>
</form>

<script type="text/javascript" src="__PUBLIC__/umeditor1_2_2-utf8-php/third-party/jquery.min.js"></script>
<!-- 引入时间插件 -->
<link href="__PUBLIC__/datetimepicker/jquery-ui-1.9.2.custom.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/datetimepicker/jquery-ui-1.9.2.custom.min.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/datetimepicker/datepicker-zh_cn.js"></script>
<link rel="stylesheet" media="all" type="text/css" href="__PUBLIC__/datetimepicker/time/jquery-ui-timepicker-addon.min.css" />
<script type="text/javascript" src="__PUBLIC__/datetimepicker/time/jquery-ui-timepicker-addon.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/datetimepicker/time/i18n/jquery-ui-timepicker-addon-i18n.min.js"></script>
<script>
  $.timepicker.setDefaults($.timepicker.regional['zh-CN']);
  $("#fa").datepicker();
  $("#ta").datepicker();
</script>

<script>
    $(".tron").mouseover(function(){
          $(this).find("td").css('backgroundColor', "#ccc"); 
          //alert('dddd');
      });
    $(".tron").mouseout(function(){
        $(this).find("td").css('backgroundColor', '#fff')
    });
</script>